[Unit]
Description=SaveVM create savestate before host shutdown 
Before=vboxdrv.service

[Service]
Type=oneshot
ExecStart=. /opt/savevm.sh
RemainAfterExit=yes
User=root
PrivateTmp=yes

[Install]
WantedBy=multi-user.target

